*{
  box-sizing: border-box;
}

body{
  font-family:  'Graphik LCG', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
@font-face {
  font-family:'Graphik LCG';
  src: url("../content/fonts/GraphikLCG-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik LCG semi-bold';
  src: url("../content/fonts/GraphikLCG-Semibold.woff2");
  font-weight: 600;
}

.container{
  padding-left: calc(50vw - 645px);
  padding-right: calc(50vw - 645px);
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,h2,h3 {
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin: 0;
}

