.footer{
  background: #EEE;
  padding-top: 92px;
  padding-bottom: 43px;
}
.footer__top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 95px;
  border-bottom: 1px solid  #1D1D1B;
}

.footer__left{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-right: 140px;

    &-title{
      margin-bottom: 30px;
      font-size: 40px;
      font-weight: var(--font-semibold);
      line-height: 1.25;
    }
    &-img{
      margin-bottom: 30px;
    }
    &-logo{
      width: 80px;
      height: 32px;
      margin-bottom: 11px;
    }
    &-text{
      font-size: 20px;
      margin-bottom: 15px;
    }
    &-link{
      color: #000;
      font-size: 20px;
      font-weight: var(--font-semibold);
      &:hover{
        color:#FF6336;
        cursor: pointer;
      }
      }
}

.footer__right{
  display: flex;

}
.footer__nav{
  display: flex;
  gap: 97px;

  &-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    max-width: 170px;
  }
}
.footer__nav-link{
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: #000000;
  &:hover{
    text-decoration: underline;
    color: #ff6336;
  }
}


.footer_bottom{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policy__left{
  display: flex;
  gap: 15px;
  align-items: center;
  &-img{
    width: 90px;
    height: 21px;
    vertical-align: middle;
  }
  &-text{
    max-width: 300px;
    font-size: 12px;
    line-height: 1.25;
  }
}

.policy__right{
  &-date{
    font-size: 12px;
    line-height: 1.25;
  }
  &-text{
    font-size: 12px;
    line-height: 1.25;
  }
}