.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 51px;
  border-bottom: 1px solid  #CCCCCC;
}
.header__logo{
  display: block;
  &-img{
    vertical-align: middle;
    padding-bottom: 4px;
  }
}
.header_menu{
  display: flex;
  gap: 55px;
  align-items: center;
}
.nav__list{
  display: flex;
  gap: 55px;
  align-items: center;
  font-size: 15px;
  line-height: 1.333;
  &-link{
    color: #000000;
    &:hover{
      color:#FF6336;
    }
  }
}

.header__buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}