.services{
  padding-top: 120px;
  padding-bottom: 120px;
  background: #FFF8E4;
}
.services__title{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 50px;
  font-weight: var(--font-semibold);
  line-height: 1.2;
}
.services__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 75px;
}
.services__item{
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 330px;
  align-items: center;
  text-align: center;
  &-head{
    font-size: 25px;
    font-weight: var(--font-semibold);
    line-height: 1.4;
  }
  &-text{
    font-size: 18px;
    line-height: 1.388;
  }
  &-img{
    width: 160px;
    height: 120px;
  }
}